@charset "UTF-8";

/* 상단메뉴 부분*/
.upperMenu {
	overflow: hidden;
	height: 60px;
	background: #eee;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:555;
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1);
}

.thirdMenu {
	display: inline-block;
	overflow: hidden;
	height: 100%;
	width: 78%;
	padding-left:90px; 
	color:gray;
}
.thirdMenu td{
	width:100px;
	text-align:center;
}
.thirdMenu a:hover{
	color:#0F4C81;
}
.thirdMenu a{
	color:gray;
}

.userMenu {
	display: inline-block;
	overflow: hidden;
	text-align: right;
	height: 100%;
	width: 20%;
	padding-top: 20px;
	font-size: 1.1em;
}



.alermArea {
	display:inline-block;
	color: gray;
	margin-right: 10px;
}

.alermArea:hover {
	cursor: pointer;
	color: orangered;
	transition: color 1s;
}

#myInfo{
	position:fixed;
	top:30px;
	right:10px;
	z-index:560;
}

/* content 부분 */
.outer {
	margin-left: 5%;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	width: 100%;
	margin-top:60px;
}

.contentArea {
	padding-top: 50px;
	padding-right: 100px;
	padding-left: 40px;
}


/* 테이블 관련 */
.hru.table {
	width: 100%;
	border-collapse: collapse;
	border-top: 2px solid #d4d4d4;
	border-right: 2px solid white;
	border-left: 2px solid white;
	font-size: 1em;
}

.hru.table tr {
	width: 100%;
	height: 30px;
}

.hru.table td {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	padding-left: 20px;
	
}

.hru.table th {
	text-align: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	padding-left: 20px;
	background: #E4EAF0;
	color: #0F4C81;
}

.hru.table2 {
	width: 100%;
	border-collapse: collapse;
	border-top: 2px solid #d4d4d4;
	border-right: 2px solid white;
	border-left: 2px solid white;
	font-size: 1em;
}

.hru.table2 tr {
	width: 100%;
	height: 30px;
}

.hru.table2 td {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	padding-left: 20px;
	
}

.hru.table2 th {
	width:200px;
	text-align: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	padding-left: 20px;
	background: #E4EAF0;
	color: #0F4C81;
}

.hru.table3 {
	width: 100%;
	border-collapse: collapse;
	border-top: 2px solid #d4d4d4;
	border-right: 2px solid white;
	border-left: 2px solid white;
	font-size: 1em;
}

.hru.table3 tr {
	width: 100%;
	height: 60px;
}

.hru.table3 td {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	padding-left: 20px;
	
}

.hru.table3 th {
	text-align: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width:200px;
	padding: 10px;
	padding-left: 20px;
	background: #E4EAF0;
	color: #0F4C81;
}

.hru.table4 {
	width: 100%;
	border-collapse: collapse;
	border-top: 2px solid #d4d4d4;
	border-right: 2px solid white;
	border-left: 2px solid white;
	font-size: 1em;
}

.hru.table4 tr {
	width: 100%;
	height: 30px;
}

.hru.table4 td {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	padding-left: 20px;
}

.hru.table4 th {
	width:200px;
	text-align: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	padding-left: 20px;
	background: #E4EAF0;
	color: #0F4C81;
}

.scrollArea{
	overflow:scroll;
	height:280px;
	border:1px solid #d4d4d4;
	overflow-x:hidden;
	display:inline-block;
}
.hru.scroll.table{
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid white;
	/* border-right: 1px solid #ccc; */
	border-left: 1px solid #ccc;
	font-size: 1.1em;
}
.hru.scroll.table tr {
	width: 100%;
	height: 30px;
}

.hru.scroll.table td {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	padding-left: 20px;
	text-align:center;
}
.hru.scroll.table th {
	text-align: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	padding-left: 20px;
	background: #E4EAF0;
	color: #0F4C81;
	text-align:center;
}
.hru.scroll.table tbody tr:hover{
	background:#eee;
	cursor:pointer;
	
}

.hru.board {
	width: 100%;
	border-collapse: collapse;
	border-top: 2px solid #d4d4d4;
	border-right: 2px solid white;
	border-left: 2px solid white;
	font-size: 1.1em;
}

.hru.board tr {
	width: 100%;
	height: 50px;
}

.hru.board td {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	padding-left: 20px;
}
.hru.board tbody tr:hover{
	background:#eee;
	cursor:pointer;
	
}
.hru.board th {
	text-align: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	padding-left: 20px;
	background: #E4EAF0;
	color: #0F4C81;
}

.hru.board2 {
	width: 100%;
	border-collapse: collapse;
	border-top: 2px solid #d4d4d4;
	border-right: 2px solid white;
	border-left: 2px solid white;
	border-bottom: 2px solid #ccc;
	font-size: 1.1em;
}

.hru.board2 tr {
	width: 100%;
	/* height: 50px; */
}

.hru.board2 td {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	/* padding: 10px; */
	/* padding-left: 20px; */
	text-align:center;
	height: 50px;
}
.hru.board2 td:not(last-child){
	border-right:1px solid #eee;
}

.hru.board2 .print:hover{
	cursor:pointer;
	color:orangered;
}

.hru.board2 th {
	height:35px;
	text-align: center;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	/* padding: 10px;
	padding-left: 20px; */
	background: #E4EAF0;
	color: #0F4C81;
}
.hru.board2 th:not(last-child){
	border-right:1px solid #eee;
}

.ui.blue.button:hover{
	/* background:#E4EAF0; */
}
.ui.blue.button{
	background:#1D609A;
}
.ui.red.button{
	background:#c93b30;
}
.ui.red.button:hover{
	background:red;
}

h1, h2, h3{
	color:#0F4C81;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:bold;
}

.check.square.icon{
	color:#8AABCC;
}

.hru.segment{
	margin-bottom:50px;
	padding:10px;
}

.pagingArea{
	/* border:1px solid gray; */
	/* height:50px; */
	width:100%;
	text-align:center;
	padding-top:20px;
	padding-bottom:10px;
}
.paging{
	width:30px;
	height:30px;
	display:inline-block;
	border:1px solid #8AABCC;
	border-radius:2px;
	padding-top:5px;
	margin-right:0;
	margin-left:0;
	color:#8AABCC;
}
.paging:hover{
	cursor:pointer;
	background:#8AABCC;
	color:white;
}

.editArea{
	display:inline-block;
	padding-right:20px;
	vertical-align:top;
	float:right;
}
.table-title{
	background:#eee !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
	height:10px !important;
	color:gray !important;
}

.buttonArea{
	margin-top:10px;
	text-align:right;
}

.searchArea{
	background:#E4EAF0;
	border-radius:10px;
	width:100%;
	height:150px;
	padding-top:50px;
}
.ui.tabular.menu{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:bold;
}
body{
	font-family: 'Noto Sans KR', sans-serif;
}

.hru.label{
	margin-right:10px;
	font-weight:bold;
	color:#0F4C81;
}

/* 가운데 나누는 바 */
.bar{
	padding:10px;
	font-weight:bold;
	vertical-align:middle;
}

#exclamation{
	color:#c2c2c2;
}

.ui.celled.center.aligned.unstackable.table.day tr{
	height:20px;
}

.ui.celled.center.aligned.unstackable.table.day td{
	border-top: 0;
	border-bottom: 1px solid lightgray;
}

.hru.evaluation{
	width:100%;
}

.hru.evaluation th{
	text-align:left;
	padding-left:30px;
	font-weight:bolder;
	height:30px;
	color:#0F4C81;
}
.hru.evaluation td{
	text-align:center;
}
.hru.evaluation textarea{
	border-radius:8px;
	border:1px solid lightgray;
}
/* .hru.evaluation td:last-child{
	text-align:right;
} */

input[type="file"] {
	display:none;
}

.paging-disabled{
	width:30px;
	height:30px;
	display:inline-block;
	border:1px solid #8AABCC;
	border-radius:2px;
	padding-top:5px;
	margin-right:0;
	margin-left:0;
	background:#8AABCC;
	color:white;
}
